*::before,
*::after,
*body {
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 156, 156);
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 350px;
    margin: 100px auto;
    background: rgb(224, 233, 238);
    border: rgb(193, 252, 195);
    border-width: 25px;
    border-style: solid;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.71);


}


.main-container-title {
    text-align: center;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 150;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: -20px;
}


.main-container-check-row {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    justify-content: space-between;
}

.check-row--buttons {
    display: flex;
    width: 140px;
    flex-direction: row;
    
    justify-content: space-evenly;

}

.check-row--button-check,
.check-row--button-hide {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
    outline: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size: 8px;
    
}

.check-row--input {
    width: 280px;
    height: 40px;
}

.check-row--button-check:hover,
.check-row--button-hide:hover {
    border-radius: 5%;
    width: 75px;
    padding-left: 5px;
    color: black;
    transition: 100ms;
    font-size: 13px;
    background-color: white;
    
}
.main-container--results {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
}


.lock--image img {
    width: 100px;
    height: 100px;
    transition: 1s;
    opacity: calc(1%*var(--strength, 10));
    margin-right: 20px;
}

.lock--image::before {
    
}


.results--lock {
    height: 100px;
    display: flex;
    flex-direction: column;
}
.results--percentage {
    height: 30px;
    width: 320px;
    font-size: 25px;
    text-align: left;
    font-weight: 400;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-width: 1px;
    border-bottom: 0.5px;
}
.results--commentary {
    height: 70px;
    font-size: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(230, 230, 230);
    padding-left: 5px;
}
.tab {
    height: 50%;
}
.nav {
    height: 30px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    bottom: 0;
}
.tab-button {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.tab-button:hover {
    background-color: lightgray;
    transition: 0.5s;
}
.tab-button.active {
    background-color: rgb(224, 233, 238);
}
.tab {
    display: none;
    height: 60%;
}

#passwordDisplay {
 background-color: ivory;
 width: 80%;
 height: 30px;
 margin: 10px auto;
 text-align: center;
 line-height: 30px;
 vertical-align: inherit;
 font-weight: 350;
 margin-top: -5px;
 margin-bottom: 25px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 15px;
}
.character-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.check-n-label {
    margin-top: 15px;
}
.amount-range::-ms-thumb {
    border-radius: 50%;
}
.amount-range {
    outline: rgb(224, 233, 238);
    
}
.check:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.distinct {
    display: flex;
    flex-direction: row;
}
.ready {
    display: flex;
    justify-items: end;
    flex-direction: column;
    float: right;
    width: 50%;
}
.ready > .check-n-label {
    justify-self: end;
    text-align: right;
}
.features { 
    width: 50%;
}